.slds-col {
    padding: 0 1rem 1rem 1rem;
}

.additional_button {
    padding: 0 0 0 0.25rem;
}

/* .datetime_input .slds-form .slds-form-element .slds-form-element__control .slds-form-element__group .slds-form-element__row {
    margin-bottom: 0 !important;
} */

/* :host {
    --lwc-spacingXxSmall: 0;
} */